[submodule "bidi-endpoints-playground"]
	path = bidi-endpoints-playground
	url = https://github.com/Kronos-Integration/bidi-endpoints-playground.git
[submodule "archive-arangodb"]
	path = archive-arangodb
	url = https://github.com/Kronos-Integration/archive-arangodb.git
[submodule "interceptor-gzip"]
	path = interceptor-gzip
	url = https://github.com/Kronos-Integration/interceptor-gzip.git
[submodule "test-step"]
	path = test-step
	url = https://github.com/Kronos-Integration/test-step.git
[submodule "test-interceptor"]
	path = test-interceptor
	url = https://github.com/Kronos-Integration/test-interceptor.git
